<div class="sm:w-[83vw] h-[82vh] scrollRemove w-full sm:mt-0">
    <div class="sm:h-auto h-[100vh] py-6 flex flex-col justify-start mx-auto bg-emerald-50">
        <div id="toast-success" [ngClass]="message && close ? 'top-6' : '-top-16'"
        class="flex z-50 items-center transition-all ease-linear duration-200 absolute left-[50%] -translate-x-[50%] w-7/12 md:w-4/12 p-4 mb-4 rounded-lg shadow text-white bg-emerald-800"
           role="alert">
           <div class="ms-3 text-sm font-normal">{{message}}</div>
           <button type="button" (click)="toastClose()"
               class="ms-auto -mx-1.5 -my-1.5 text-white hover:text-indigo-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-indigo-500 dark:hover:text-white dark:bg-indigo-800 dark:hover:bg-indigo-700">
               <span class="sr-only">Close</span>
               <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                   viewBox="0 0 14 14">
                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                       d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
               </svg>
           </button>
       </div>
        <div class="text-xl text-center text-emerald-700">
            ~~ Manage Sub Catagory ~~
        </div>
        <!-- table adding  -->
        <div class="container">
            <div class="card sm:m-5 p-3">
                <div class="mb-4">
                    <label for="product-category" class="block text-xl font-bold text-emerald-600">Add Category</label>
                    <select id="product-category" (change)="onchange(optionsubcategory.value)" #optionsubcategory
                        class="mt-1 p-2 w-full border-none border border-emerald-500 focus:ring-1 focus:ring-emerald-500 rounded-md bg-emerald-100 text-emerald-500 text-lg font-semibold">

                        <option value="~~~" class="hover:bg-red-800 list">~~~</option>
                        <option value={{categ}} class="hover:bg-red-800 list" name="cat" *ngFor="let categ of category">
                            {{categ}}</option>
                    </select>
                </div>
                <div class="card-body">
                    <table class="text-left overflow-x-auto table border-2 sm:w-2/3 w-full table-hover">
                        <thead class="text-lg font-bold text-emerald-700 border-b-2">
                            <tr>
                                <th class="p-4 w-[20%]">Index</th>
                                <th>Category</th>
                                <th class="w-auto sm:w-[17%]">Delete</th>
                                <th class="w-auto">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b-2" *ngFor="let category of subcategory,let i =index">
                                <td class="p-4 text-lg font-semibold tracking-wide">{{ i+1 }}.</td>
                                <td class="text-lg tracking-wide capitalize">{{ category.subcategory }}</td>
                                <td><button
                                        class="hover:bg-emerald-600 rounded-sm border border-emerald-600 text-emerald-800 hover:text-white px-7 py-2"
                                        (click)="removesubcategory(category._id)">Remove</button></td>
                                <td><a class="hover:bg-emerald-600 rounded-sm border border-emerald-600 text-emerald-800 hover:text-white px-7 py-2"
                                        routerLink="/dashboard/catagory/edit/{{category._id}}">Edit</a></td>
                            </tr>
                            <tr class="border-b-2" *ngFor="let category of allsubcategories,let i =index">
                                <td *ngIf="!subcategory" class="p-4 text-lg font-semibold tracking-wide">{{ i+1 }}.</td>
                                <td *ngIf="!subcategory" class="text-lg tracking-wide capitalize">{{
                                    category.subcategory }}</td>
                                <td *ngIf="!subcategory"><button
                                        class="hover:bg-emerald-600 rounded-sm border border-emerald-600 text-emerald-800 hover:text-white px-7 py-2"
                                        (click)="removesubcategory(category._id)">Remove</button></td>
                                <td *ngIf="!subcategory"><a
                                        class="hover:bg-emerald-600 rounded-sm border border-emerald-600 text-emerald-800 hover:text-white px-7 py-2"
                                        routerLink="/dashboard/sub-category/edit/{{category._id}}">Edit</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>