<div class="bg-yellow-400 relative dark:bg-violet-100  h-screen overflow-hidden flex items-center justify-center">
    <div *ngIf="!codeenter && !newpass" class="bg-white lg:w-6/12 md:7/12 w-full mx-8 shadow-sm shadow-violet-300 rounded-xl">
      <div class="bg-violet-800 shadow shadow-violet-200 absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full p-4 md:p-8">
        <svg width="32" height="32" viewBox="0 0 24 24" fill="#FFF">
          <path d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"/>
        </svg>
      </div>
      <form class="p-12 md:p-24">
        <div class="py-2" *ngIf="message">
          <p class="text-center text-red-800 font-semibold">*Please check the email</p>
        </div>
        <div class="flex items-center text-lg mb-6 md:mb-8">
          <input type="text" id="username" class="ring-1 ring-violet-300 focus:ring-2 focus:ring-violet-700 rounded pl-4 py-2 md:py-4 focus:outline-none w-full" #email placeholder="email" />
        </div>
       
        <button class="bg-violet-700 hover:bg-violet-800 font-medium p-2 md:p-4 text-white uppercase w-full rounded" (click)="verify(email.value,$event)">Verify The Email</button>
        <button class="font-medium p-2 md:p-4 uppercase w-full rounded text-violet-800 transition-all ease-linear" [routerLink]="['/']" >Back to Login</button>
      </form>
    </div>
    <div *ngIf="codeenter && !newpass" class="bg-white lg:w-6/12 md:7/12 w-full mx-8 shadow-sm shadow-violet-300 rounded-xl">
      <div class="bg-violet-800 shadow shadow-violet-200 absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full p-4 md:p-8">
        <svg width="32" height="32" viewBox="0 0 24 24" fill="#FFF">
          <path d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"/>
        </svg>
      </div>
      <form class="p-12 md:p-24">
        <div class="py-2" *ngIf="messageotp">
          <p class="text-center text-red-800 font-semibold">*CODE NOT VERIFIED</p>
        </div>
        <div class="flex items-center text-lg mb-6 md:mb-8">
          <input type="text" id="username" class="ring-1 ring-violet-300 focus:ring-2 focus:ring-violet-700 rounded pl-4 py-2 md:py-4 focus:outline-none w-full" #code placeholder="code..." />
        </div>
       
        <button class="bg-violet-700 hover:bg-violet-800 font-medium p-2 md:p-4 text-white uppercase w-full rounded" (click)="verifycode(code.value,$event)">Code</button>
        <button class="font-medium p-2 md:p-4 uppercase w-full rounded text-violet-800 transition-all ease-linear" [routerLink]="['/']" >Back to Login</button>
      </form>
    </div>
    <div *ngIf="newpass" class="bg-white lg:w-6/12 md:7/12 w-full mx-8 shadow-sm shadow-violet-300 rounded-xl">
      <div class="bg-violet-800 shadow shadow-violet-200 absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full p-4 md:p-8">
        <svg width="32" height="32" viewBox="0 0 24 24" fill="#FFF">
          <path d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"/>
        </svg>
      </div>
      <form class="p-12 md:p-24">
        <div class="py-2" *ngIf="bmessagepass">
          <p class="text-center text-red-800 font-semibold">{{messagepass}}</p>
        </div>
        <div class="flex items-center text-lg mb-6 md:mb-8">
          <input type="text" id="username" class="ring-1 ring-violet-300 focus:ring-2 focus:ring-violet-700 rounded pl-4 py-2 md:py-4 focus:outline-none w-full" #pass placeholder="Password..." />
        </div>
        <button class="bg-violet-700 hover:bg-violet-800 font-medium p-2 md:p-4 text-white uppercase w-full rounded" (click)="newpassfn(pass.value,$event)">Code</button>
        <button class="font-medium p-2 md:p-4 uppercase w-full rounded text-violet-800 transition-all ease-linear" [routerLink]="['/']" >Back to Login</button>
      </form>
    </div>
   </div>
   <div *ngIf="loading" class="loader absolute bottom-0 top-0 left-0 right-0 flex items-center justify-center bg-slate-100/40">
    <svg class="pl" viewBox="0 0 160 160" width="160px" height="160px" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="grad" x1="0" y1="0" x2="0" y2="1">
                <stop offset="0%" stop-color="#000" />
                <stop offset="100%" stop-color="#fff" />
            </linearGradient>
            <mask id="mask1">
                <rect x="0" y="0" width="160" height="160" fill="url(#grad)" />
            </mask>
            <mask id="mask2">
                <rect x="28" y="28" width="104" height="104" fill="url(#grad)" />
            </mask>
        </defs>
        <!-- Ring -->
        <g>
            <g class="pl__ring-rotate">
                <circle class="pl__ring-stroke" cx="80" cy="80" r="72" fill="none" stroke="hsl(223,90%,55%)" stroke-width="16" stroke-dasharray="452.39 452.39" stroke-dashoffset="452" stroke-linecap="round" transform="rotate(-45,80,80)" />
            </g>
        </g>
        <g mask="url(#mask1)">
            <g class="pl__ring-rotate">
                <circle class="pl__ring-stroke" cx="80" cy="80" r="72" fill="none" stroke="hsl(193,90%,55%)" stroke-width="16" stroke-dasharray="452.39 452.39" stroke-dashoffset="452" stroke-linecap="round" transform="rotate(-45,80,80)" />
            </g>
        </g>
        <!-- Ticks -->
        <g>
            <g stroke-width="4" stroke-dasharray="12 12" stroke-dashoffset="12" stroke-linecap="round" transform="translate(80,80)">
                <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14" transform="rotate(-135,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14" transform="rotate(-90,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14" transform="rotate(-45,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14" transform="rotate(0,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14" transform="rotate(45,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14" transform="rotate(90,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14" transform="rotate(135,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14" transform="rotate(180,0,0) translate(0,40)" />
            </g>
        </g>
        <g mask="url(#mask1)">
            <g stroke-width="4" stroke-dasharray="12 12" stroke-dashoffset="12" stroke-linecap="round" transform="translate(80,80)">
                <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14" transform="rotate(-135,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14" transform="rotate(-90,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14" transform="rotate(-45,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14" transform="rotate(0,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14" transform="rotate(45,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14" transform="rotate(90,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14" transform="rotate(135,0,0) translate(0,40)" />
                <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14" transform="rotate(180,0,0) translate(0,40)" />
            </g>
        </g>
        <!-- Arrows -->
        <g>
            <g transform="translate(64,28)">
                <g class="pl__arrows" transform="rotate(45,16,52)">
                    <path fill="hsl(3,90%,55%)" d="M17.998,1.506l13.892,43.594c.455,1.426-.56,2.899-1.998,2.899H2.108c-1.437,0-2.452-1.473-1.998-2.899L14.002,1.506c.64-2.008,3.356-2.008,3.996,0Z"/>
                    <path fill="hsl(223,10%,90%)" d="M14.009,102.499L.109,58.889c-.453-1.421,.559-2.889,1.991-2.889H29.899c1.433,0,2.444,1.468,1.991,2.889l-13.899,43.61c-.638,2.001-3.345,2.001-3.983,0Z"/>
                </g>
            </g>
        </g>
        <g mask="url(#mask2)">
            <g transform="translate(64,28)">
                <g class="pl__arrows" transform="rotate(45,16,52)">
                    <path fill="hsl(333,90%,55%)" d="M17.998,1.506l13.892,43.594c.455,1.426-.56,2.899-1.998,2.899H2.108c-1.437,0-2.452-1.473-1.998-2.899L14.002,1.506c.64-2.008,3.356-2.008,3.996,0Z"/>
                    <path fill="hsl(223,90%,80%)" d="M14.009,102.499L.109,58.889c-.453-1.421,.559-2.889,1.991-2.889H29.899c1.433,0,2.444,1.468,1.991,2.889l-13.899,43.61c-.638,2.001-3.345,2.001-3.983,0Z"/>
                </g>
            </g>
        </g>
    </svg>
</div>